@import '../../style/variables.css';

.picker-sl {
  position: relative;
  width: 202px;
  height: 202px;

  & canvas {
    z-index: 1;
  }
}

.sl-selector {
  position: absolute;
  display: block;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;

  background: white;
  border: 1px solid black;
  border-radius: 4px;

  pointer-events: auto;

  z-index: 9999;
}
