.number-input {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  color: white;

  & .label {
    color: white;
    font-size: 0.75rem;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
}
