.text-input {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  margin-bottom: 10px;

  & .label {
    color: white;
    font-size: 1rem;
    margin-bottom: 20px;
    box-sizing: border-box;
  }

  & input {
    background: #35393c;
    color: #babdbc;
    font-size: 1rem;
    font-family: 'Roboto';
    letter-spacing: 0.25em;
    line-height: 1.2;
    height: 45px;
    width: 100%;
    box-sizing: border-box;
    padding: 12px 16px 14px 16px;
  }
}
