@import '../../style/variables.css';

.app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 1;
  width: 100%;
  box-sizing: border-box;
  min-width: var(--app-width);
  background: #35393c;

  & .row-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: calc(var(--margin) * 3);
    box-sizing: border-box;
  }

  & .row-2 {
    display: flex;
    flex-direction: row;
    flex: 1;
    width: 100%;
    height: auto;

    box-sizing: border-box;
    background: #35393c;

    & .column-1,
    & .column-2 {
      box-sizing: border-box;
      margin-right: calc(var(--margin) * 3);
    }

    & .column-3 {
      box-sizing: border-box;
      flex-grow: 1;
    }
  }
}
