@import '../../style/variables.css';

.keyword-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 1 auto;
  width: 500px;

  background: var(--bg-accent);

  & .max-width {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
