@import '../../style/variables.css';

.export-settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex: 0 1 auto;
  width: 300px;

  background: var(--bg-accent);

  & .export-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

    & > *:not(:last-child) {
      margin-right: calc(var(--margin) * 6);
    }
  }
}
