@import '../../style/variables.css';

.color {
  display: flex;
  flex-direction: row;
  height: var(--input-height);

  & input {
    max-width: 100px;
  }

  & .color-sample {
    height: 100%;
    width: var(--input-height);
  }

  &:focus-within {
    & .color-sample {
      box-shadow: 0 0 0 1px var(--primary-accent-color);
    }
  }
}
