@import '../../style/variables.css';

.modal--small,
.modal--medium,
.modal--large {
  position: fixed;
  top: 25%;
  left: 25%;
  width: 50%;
  height: auto;
  background: #42464b; /* #1d1f21; */
  border: 10px solid #35393c;
  z-index: 9999;

  padding: calc(var(--padding) * 5);
}

.modal--small {
  left: 50%;
  width: 400px;
  margin-left: -200px;
}

.modal--medium {
  left: 50%;
  width: 500px;
  margin-left: -250px;
}

.modal--large {
  left: 50%;
  width: 600px;
  margin-left: -300px;
}
