@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import 'reset.css';

@import 'variables.css';

@import 'divider.css';
@import 'typography.css';
@import 'button.css';
@import 'list.css';
@import 'picker.css';

body,
html {
  flex-direction: column;
  display: flex;

  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  color: white;

  font-family: 'monospace', Roboto, sans-serif;
  font-size: 16px;
  letter-spacing: 0.02em;
  line-height: normal;
}
