@import 'reset.css';

@import 'variables.css';

@import 'icon.css';
@import 'scroll.css';
@import 'typography.css';
@import 'button.css';
@import 'input.css';
@import 'form.css';
@import 'list.css';

body,
html {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;

  font-family: 'monospace', Roboto, sans-serif;
  font-size: var(--font-size);
  letter-spacing: var(--letter-spacing);
  line-height: normal;
  color: var(--font-color);
  background: var(--bg-primary);
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-cursor {
  cursor: none !important;
}

.label-text,
button,
input,
select,
.stripped,
label {
  user-select: none !important;
}

a {
  outline: none;

  &:hover {
    outline: 1px solid white;
  }

  &:focus {
    outline: 1px solid white;
  }

  &:active {
    outline: 1px solid white;
  }
}

.code-snippet {
  background-color: #2d2d2d;
  color: white;
  border-radius: 3px;
  padding: 1px 3px;
}

.app-loader {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1ch;

  & > *:first-child {
    margin-bottom: 16px;
  }

  & svg path,
  & svg rect {
    fill: #22adf6;
  }
}
