@import './variables.css';

.divider--small,
.divider--medium {
  width: 100%;
  box-sizing: border-box;
  background: #35393c;
  margin-top: calc(var(--margin) * 3);
  margin-bottom: calc(var(--margin) * 3);
}

.divider--medium {
  height: 6px;
}

.divider--small {
  height: 4px;
}
