@import 'variables.css';

i {
  user-select: none;
}

.actionable {
  cursor: pointer;
  user-select: none;
  color: var(--inactive-color);

  &:hover {
    color: var(--hover-color);

    & i {
      color: var(--hover-color);
    }
  }

  &:active {
    color: var(--focus-color);

    & i {
      color: var(--focus-color);
    }
  }
}

.fa,
.far,
.fas {
  color: var(--inactive-color);
}

.fa-size-large {
  font-size: 1.5rem;
}
