@import 'variables.css';

i {
  user-select: none;
}

.actionable {
  cursor: pointer;
  user-select: none;

  &:hover {
    color: var(--hover-color);
  }

  &:active {
    color: var(--focus-color);
  }
}

.fa,
.far,
.fas {
  color: var(--inactive-color);
}
