@import 'variables.css';

ol {
  margin: initial;
  font-size: 1em;
  line-height: 1.5;
}

ul {
  margin: initial;
  font-size: 1em;
  line-height: 1.5;
}

li {
  display: list-item;
}

.single-line-list {
  & .sub-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: calc(var(--margin) * 5);

    &.divider {
      padding-bottom: calc(var(--padding) * 2);
      border-bottom: 4px solid var(--bg-primary);
    }
  }

  & .sub-header--inset {
  }

  & .list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    & .row {
      display: flex;
      flex-direction: row;
      flex: 1;

      padding-top: calc(var(--padding) * 1);
      padding-right: calc(var(--padding) * 1);
      padding-bottom: calc(var(--padding) * 1);
      padding-left: calc(var(--padding) * 1);

      & .support {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex: 0 1 auto;
        max-width: 180px;

        &,
        & > * {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          padding-left: calc(var(--padding) * 2);
        }
      }

      & .primary {
        flex: 1 1 auto;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-left: calc(var(--padding) * 4);
      }

      & .control {
        flex: 0 1 auto;
      }
    }
  }
}
