@import 'variables.css';

ol {
  margin: initial;
  font-size: 1em;
  line-height: 1.5;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

ul {
  margin: initial;
  padding: 0 0 0 32px;
  font-size: 1em;
  line-height: 1.5;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

li {
  display: list-item;
}

.single-line-list {
  box-sizing: border-box;

  & .sub-header {
    margin-bottom: calc(var(--margin) * 5);
  }

  & .sub-header--inset {
  }

  & .list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;

    & .row {
      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex: 1;

      padding-top: calc(var(--padding) * 4);
      padding-bottom: calc(var(--padding) * 4);
      padding-left: calc(var(--padding) * 3);
      padding-right: calc(var(--padding) * 3);

      & .support {
        flex: 0 1 auto;
      }

      & .primary {
        flex: 1 1 auto;
      }

      & .control {
        flex: 0 1 auto;
      }
    }
  }
}

ul.two-line {
}

ul.hhree-line {
}
