@import './variables.css';

@font-face {
  font-family: 'Liberation Mono';
  src: url('./assets/fonts/LiberationMono.woff2') format('woff2'),
    url('./assets/fonts/LiberationMono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('./assets/fonts/UbuntuMono-Regular.woff2') format('woff2'),
    url('./assets/fonts/UbuntuMono-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Dosis';
  src: url('./assets/fonts/Dosis-Regular.woff2') format('woff2'),
    url('./assets/fonts/Dosis-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

p {
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  margin: 0;
}

h1 {
  font-size: 1.25rem;
  line-height: 1.5em;
}

h2 {
  font-size: 1.15rem;
  line-height: 1em;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.3333em;
}

h4 {
  font-size: 1rem;
  line-height: 1.3333em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul.modal-ul {
  display: flex;
  flex-flow: column;
  margin-bottom: calc(var(--margin) * 6);

  & > li {
    margin-left: calc(var(--margin) * 4);
    padding-right: calc(var(--padding) * 4);
    list-style-type: square;
  }
}

ol.modal-ol {
  display: flex;
  flex-flow: column;
  margin-top: 0;
  margin-bottom: calc(var(--margin) * 6);
  max-width: 100%;

  & > li {
    margin-left: calc(var(--margin) * 6);
    padding-right: calc(var(--padding) * 4);
    font-size: var(--font-medium);
    list-style-type: decimal;
  }
}

.text-body {
  user-select: text !important;

  & p {
    margin-bottom: calc(var(--margin) * 6);
    font-size: var(--font-medium);
  }

  & h3 {
    font-weight: bold;
    font-size: 1.4rem;
    margin-top: calc(var(--margin) * 4);
    margin-bottom: calc(var(--margin) * 9);
  }

  & h4 {
    font-weight: bold;
    font-size: 1.2rem;
    padding-bottom: calc(var(--padding) * 3);
  }

  & li {
    margin-bottom: calc(var(--margin) * 3);
    font-size: var(--font-medium);
  }

  & .bold {
    font-weight: 600;
    color: var(--inactive-color);
  }

  & a {
    color: var(--primary-accent-color);
    text-decoration: none;
  }
}
