@import '../../style/variables.css';

.create-theme-modal {
  box-sizing: border-box;

  & .create-theme-form {
    margin-bottom: calc(var(--margin) * 8);

    & h2 {
      margin-bottom: calc(var(--margin) * 5);
    }
  }

  & .buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    box-sizing: border-box;

    & button:first-child {
      margin-right: calc(var(--margin) * 5);
    }
  }
}
