@import '../../style/variables.css';

.font-settings {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;

  height: 100%;
  background: var(--bg-accent);

  overflow-y: auto;
}
