@import '../../style/variables.css';

.theme-list-modal {
  box-sizing: border-box;

  & .single-line-list {
    margin-bottom: calc(var(--margin) * 10);
  }

  & .control {
    & button {
      margin-right: calc(var(--margin) * 5);
    }
  }

  & .row:nth-child(odd) {
    background: #35393c;
  }

  & .buttons {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
