@import '../../style/variables.css';

.palette {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  & .palette-toolbar {
    font-size: var(--font-medium);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    user-select: none;

    & .palette-name {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width: 300px;
      user-select: none;
    }

    & .palette-buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;

      & .palette-button {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        height: 25px;
        width: 25px;
        font-size: var(--font-large);
        cursor: pointer;

        &:not(:last-child) {
          margin-right: calc(var(--margin) * 3);
        }
      }
    }
  }

  & .palette-colors {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: calc(var(--margin) * 4);

    & .palette-color {
      width: 25px;
      height: 25px;
      margin: 1px;
      cursor: pointer;

      &.palette-color--remove {
        animation: shake 0.3s;
        animation-iteration-count: infinite;
      }

      &.palette-color--selected {
        border: 3px solid black;
      }

      &:hover {
        border: 3px solid #1e90ff;
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
