.palette {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 100%;

  & .palette-header {
    font-size: 0.75rem;
    width: 100%;
  }

  & .palette-colors {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 20px;

    & .palette-color {
      width: 25px;
      height: 25px;
      margin: 1px;
      box-sizing: border-box;
      cursor: pointer;

      &.palette-color--remove {
        animation: shake 0.3s;
        animation-iteration-count: infinite;
      }

      &.palette-color--selected {
        border: 3px solid black;
      }

      &:hover {
        border: 3px solid #1e90ff;
      }
    }
  }

  & .palette-buttons {
    margin-top: 17px;
    self-align: flex-end;

    & .palette-button-add,
    & .palette-button-remove {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 25px;
      height: 25px;
      margin: 5px;
      box-shadow: 0 0 0 1px silver;
      font-size: 20px;
      cursor: pointer;

      &:hover,
      &:focus,
      &:active {
        /* box-shadow: 0 0 2px 1px dodgerblue; */
      }
    }

    & .palette-button-remove {
      &.palette-button-remove--active {
        background: red;
      }
    }
  }
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  33% {
    transform: rotate(5deg);
  }
  66% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-5deg);
  }
}
