@import '../../style/variables.css';

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100%;
  overflow-y: auto;
  padding-right: calc(var(--padding) * 8);
  background: var(--bg-accent);

  & .toggle-sidebar-display {
    position: absolute;
    top: 0;
    left: 90%;
  }

  & .header {
    display: flex;
    direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: calc(var(--margin) * 4);
    font-size: var(--font-medium);
    user-select: none;

    & .keyword-buttons {
      font-size: var(--font-size);

      & > *:not(:last-child) {
        margin-right: calc(var(--margin) * 2);
      }
    }

    &.divider-xs {
      padding-bottom: calc(var(--padding) * 2);
      border-bottom: var(--divider-xs);
    }

    &.divider {
      padding-bottom: calc(var(--padding) * 2);
      border-bottom: var(--divider-small);
    }
  }

  & .sidebar--closed {
    &[data-display-sidebar='true'] {
      display: none;
    }

    &[data-display-sidebar='false'] {
      width: auto;
    }
  }

  & .sidebar--opened {
    &[data-display-sidebar='false'] {
      display: none;
    }

    &[data-display-sidebar='true'] {
      height: 100%;
      width: 240px;

      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      background: var(--bg-accent);
    }
  }

  & .keywords {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  & .list {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin-bottom: calc(var(--margin) * 4);

    & li {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      cursor: pointer;
      user-select: none;

      font-size: var(--font-size);
      color: var(--inactive-color);

      flex: 1;
      padding-top: calc(var(--padding) * 1);
      padding-bottom: calc(var(--padding) * 1);

      &:hover {
        color: var(--hover-color);
      }

      &:active {
        color: var(--focus-color);
      }
    }

    & li[data-selected='true'] {
      color: var(--primary-accent-color);
    }
  }
}
