.theme {
  height: 100%;
  width: 100%;
  background: #1d1f21;
  box-sizing: border-box;

  cursor: pointer;

  & .line-numbering {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-right: 10px;
  }

  /* TODO: Toolbar is being cut of whereas language-preview continues */
  & .language-preview {
    display: block;
    font-family: inherit;
    white-space: pre;
    padding-left: 20px;
    margin: 0;
    box-sizing: border-box;
  }
}
